/* Código para comentar*/

html,body{
  height:100%;
  width:100%;
  font-size: 100%;
}

body{
  background:#d8e7ff; /* f = full, 0 = nada */
  padding:2%;
  font-family: 'Slabo 27px', serif;
  font-size:1em;
}

h1{font-size: 4em} /* especifica el tamaño exacto de la fuente */

h2{color: #4b4e51} /* especifica el color exacto de la fuente */

div{
  width: 500px;
  max-width:80%;
  padding:1em;
  background:silver;
  border:1px solid #ccc;
  background:#fff;
}

img{
  max-width:100%;
  height:auto;
}

*/
